* {
  box-sizing: border-box;
}

body {
  background-image: url("images/sky-and-plains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  
section, article {
  align-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  }

h1, h2, h3, p, a, ul, ol {
  font-family: Arial, sans-serif;
  color: #000033;
  padding: 15px, 15px, 15px, 15px;
}

h1 {
  font-size: 64px;
  text-align: center;
  color: #FFF;
}

h2, h3 {
  text-align: center;
  color: #FFFF99;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p, a, ol, ul {
  font-size: 24px;
  text-align: left;
  line-height:48px;  
}

p {
  text-align: justify;
}

a {
  text-align: center;
}

a:link    { color: #FFF; }
a:visited { color: #581845; }
a:hover   { color: #003300; }
a:active  { color: #CC6600; }

ol, ul {
  font-style: italic;
 }

hr {
  height: 2px;
  border: 2px #000;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000033;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  


.knockout {
  color: #FFF;
  text-align: center;
  padding: 10px;  
}

.knockout p {
  color: #FFF;
  text-align: center;
}
