* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 30, 30, 30, 30
}

h1, h2, h3, p, a, ul, ol {
  font-family: Arial, sans-serif;
  color: #000;
  padding: 30, 30, 30, 30
}

h1 {
  font-size: 56px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

p, a, ol, ul {
  font-size: 18px;
  text-align: left;
  line-height: 36px;   
}

a {
  text-align: center;
}

a:link    { color: #FFF; }
a:visited { color: red; }
a:hover   { color: green; }
a:active  { color: orange; }

ol, ul {
  font-style: italic;
 }

ol a:link, ul a:link { color: blue;}

hr {
  height: 2px;
  border: 2px #000;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #000;
}

.knockout {
  background-color: #000;
  color: #FFF;
  margin: auto;
  text-align: center;
  padding: 10px;  
}

.knockout p {
  color: white;
}
