* {
  box-sizing: border-box;
}

body {
background-color: #FFF;
width: 50%;
height: 100%;
margin: auto;
}

h1, h2, h3, p, a {
font-family: Arial, sans-serif;
color: #000;
padding: 30, 30, 30, 30
line-spacing: 30 px;
}

h1 {
font-size: 96;
text-align: center;
}

h2 {
font-size: 80;
text-align: center;
}

h3 {
font-size: 64;
text-align: center;
}

p, a {
font-size: 36;
text-align: left;
}

a {
text-align: center;
}

a:link    { color: blue; }
a:visited { color: red; }
a:hover   { color: green; }
a:active  { color: orange; }

hr {
  height: 4px;
  border: 4px #000;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #000;
}

.knockout {
background-color: #000;
color: #FFF;
margin: auto;
text-align: center;
}
